
.conteiner {
    max-width: 1060px;
    margin: 0 auto;
}

/* common */
.bg-yellow {
    background-color: rgb(255, 255, 0);
}

.text-gray {
    color: rgb(128, 128, 128);
}

.text-white {
    color: white;
}

.text-azzurro {
    color: rgb(24 165 255);
}

.bg-lightblue {
    background-color:  rgb(169 232 255);
}

.bg-blue {
    background-color: rgb(67 164 255);
}

/* intestazione */
.bg-header {
    height: 100px;
    background-color: rgb(71, 124, 238);
    background-image: url(../img/pattern.png);
    background-size: 393px;
    background-position: 71px 0px;
}

.logo {
    height: 49px;
    margin-top: 41px;
}
/* fine intestazione */


/* contenuto principale */
.title-main {
    margin-bottom: 0;
}

.autore-the-booleaner {
    margin: 0;
}

.data {
    margin-top: 0;
}

/* figure */
.img-tim {
    margin-left: 0;
}

.text-weight {
    font-weight: 600;
}

figcaption {
    font-size: small;
}
/* fine figure */

/* lista */
.list {
    padding-left: 0;
    list-style-position: inside;
}

/* tabella */
table {
    border-collapse: collapse;
}
.head-table {
    color: rgb(255, 255, 255);
    text-align: left;
}

.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}
/* fine tabella */

/* fine contenuto principale */

/* footer */
.useful-info {
    height: 120px;
    width: 180px;
    background-image: url(../img/monitor.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    font-weight: 600;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 7px;

}

.useful-info2 {
    height: 120px;
    width: 180px;
    background-image: url(../img/graph.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding: 10px;
    font-weight: 600;
}
/* fine footer */